a {
  text-decoration: none;
  color: white;
}

mat-nav-list a:hover,
mat-nav-list a:active {
  color: #673ab7;
}

.nav-items {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-caption {
  margin-left: 8px;
}
